.main{
  @media (max-width: 380px) {
    &__pagination{
      gap: 10px;
      &-next,
      &-back{
        padding: 5px 15px;
      }
    }
  }
  @media (max-width: 576px) {
    &__media-image {
      display: none;
    }
    .row-media {
       justify-content: center;
    }
    .media-size {
       width: 82%;
    }
      &__content-card:hover .main__content-card-image {
        transform: translateX(0);
      }
  }
}